.checklist {
  width: 300px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f7f7f7;
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
}

li.completed {
  background-color: #c0ffc0;
  text-decoration: none;
}

.addremove-button {
  background-color: #414042;
  color: white;
  border: none;
  width: 45px;
  height: 45px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.ok-button {
  background-color: #414042;
  width: 100%;
  height: 40px;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}
