.alert-container {
  width: 30%;
  height: 50vh;
  margin-left: 33%;
  margin-top: 5%;
  background-color: whitesmoke;
  overflow-wrap: break-word;
  border: 2px solid black;
  text-align: center;
}

.disclaimer {
  color: red;
  font-size: 30px;
  font-weight: bold;
  margin-top: 40px;
}

.text {
  font-size: 20px;
  margin-top: 50px;
}

.texttwo {
  font-size: 20px;
  margin-top: 40px;
}

.textthree {
  font-size: 20px;
  margin-top: 40px;
}

.close {
  background-color: #414042;
  color: white;
  margin-top: 40px;
  height: 10%;
  width: 20%;
}
